##
## Licensed to Marvelution under one or more contributor license
## agreements.  See the NOTICE file distributed with this work
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.
##

$webResourceManager.requireResourcesForContext("maven-artifact-info-macro")

<table id="mavenInfo" class="confluenceTable">
	<thead>
		<tr>
			<th class="confluenceTh versionHeader">
				#set ($imgSrc = "${baseUrl}/download/resources/${pluginKey}/macros/images/wait.gif")
				<img id="thobber" class="confluence-embedded-image" src="$imgSrc" data-image-src="$imgSrc">
				<p>$i18n.getText("maven.info.version")</p>
			</th>
			<th class="confluenceTh centered"><p>$i18n.getText("maven.info.details.size")</p></th>
			<th class="confluenceTh centered"><p>$i18n.getText("maven.info.details.released")</p></th>
			<th class="confluenceTh downloadHeader"><p>$i18n.getText("maven.info.details.download")</p></th>
		</tr>
	<thead>
	<tbody>
		#foreach ($version in $versions)
		<tr id="$version.id" style="display: none;">
			<th class="confluenceTh"><p>$version.name</p></th>
			<td class="confluenceTd centered"></td>
			<td class="confluenceTd centered"></td>
			<td class="confluenceTd">
				<div style="color: #A0A0A0; font-size: 1em;">
					<span id="md5">$i18n.getText("maven.info.details.md5"):  </span><br />
					<span id="sha1">$i18n.getText("maven.info.details.sha1"): </span>
				</div>
			</td>
		</tr>
		#end
	</tbody>
</table>
<script type="text/javascript">
	var configuration = %JSON%;
	initiateMavenArtifactInformationTable(configuration);
</script>
