##
## Licensed to Marvelution under one or more contributor license
## agreements.  See the NOTICE file distributed with this work
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.
##

#if ($simpleList)
<ul>
	#foreach ($space in $spaces)
	<li><a href="${contextPath}${space.urlPath}">${space.name}</a></li>
	#end
</ul>
#else
<ul class="space-list entity-list">
	#foreach ($space in $spaces)
	<li class="space-list-item entity-list-item #if ($velocityCount == 1) first #end">
		<div class="entity-attribute space-info entity-info">
			<a class="space-name" href="${contextPath}${space.urlPath}">${space.name}</a>
		</div>
	</li>
	#end
</ul>
#end
