/**
 * Licensed to Marvelution under one or more contributor license
 * agreements.  See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.permissions {
	margin-top: 10px;
}

.permissions ul {
	margin: 5px 0 0 10px;
}

.permissions li {
	list-style: disc outside;
	margin-left: 1.2em;
	line-height: 160%;
}

.permissions.allow strong {
	color: #6CAC50;
}

.permissions.deny strong {
	color: #9B3919;
}

.twitter-profile {
	float: left;
	width: 90%;
	padding: 10px;
	margin-right: 20px;
	background: #C0DEED url(twitter/images/bg.png) 0px -40px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: right;
}

.twitter-profile-body {
	background: rgba(249, 249, 249, 0.5);
	border-radius: 4px;
	padding: 5px;
	width: 98%;
}

.twitter-profile div {
	float: left;
	text-align: left;
}

.twitter-profile div.operations {
	float: right;
	text-align: right;
}

.twitter-profile div.picture {
	text-align: center;
}

.twitter-profile div.picture .photo {
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.twitter-profile div.picture a {
	font-size: 11px;
}

.twitter-profile div.body {
	margin-left: 10px;
	margin-top: 2px;
	color: #555;
}

.twitter-profile .fn {
	font-size: 16px;
	font-weight: bold;
}

.twitter-profile .nickname {
	font-weight: bold;
	margin-right: 4px;
}

.twitter-profile .locality {
	font-size: 11px;
	font-style: italic;
}

.twitter-profile .note {
	display: inline-block;
	margin: 4px 0;
}

.twitter-profile-separator {
	clear: both;
	height: 5px;
}
